
#first {
  height: 2.6rem;
  width: 9.4rem;
  border: none;
  background-color: rgb(17, 17, 17);
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 20px;
  font-weight: 1rem;
  padding: .5rem;
  color: white;
  outline: none;
}
#first:hover {
  border: 0;
  -webkit-box-shadow: 5px 5px 44px 3px #f2a900;
  -moz-box-shadow: 5px 5px 44px 3px #f2a900;
  box-shadow: 5px 5px 44px 3px #f2a900;
}
#first:focus{
  outline: none;
}
#input{
  /* position: absolute;
  top: 20%;
  left: 30%; */
  border: none;
  height: 2.6rem;
  width: 9.2rem;
  font-family: sans-serif;
  border-radius: Helvetica;
  background-color: #f2a900;
  color: rgb(17, 17, 17);
}

#input:focus {
  outline:none !important;
}
#header{
  align-self: center;
  font-size: 1.3rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
  letter-spacing: 2px;
  color: white;
}

#container {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  position: fixed;
  top: 20vh;
  left: 60vw;
  background-color: white;
  border: 2px solid rgb(17, 17, 17);
  border-radius: 6px;
  color: white;
  height: 17vh;
  width: 25vw;
  background-color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#divBox2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 3vh;
  background-color: white !important;
}

#divBox1 {
  background-color: rgb(17, 17, 17) !important;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  cursor: move;
  height: 5vh;
}

#exit {
  position: absolute;
  right: 0;
  background-color: #f2a900;
  border-radius: 4px;
  color: black;
  height: 2vh;
  width: 2vw;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* 
#first {
  height: 2.6rem;
  width: 9.4rem;
  border: 1px solid #f2a900;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 20px;
  font-weight: 300;
  color: #f2a900;
  outline: none;
}
#first:hover {
  border: 0;
  -webkit-box-shadow: 5px 5px 44px 3px #f2a900;
  -moz-box-shadow: 5px 5px 44px 3px #f2a900;
  box-shadow: 5px 5px 44px 3px #f2a900;
}
#first:focus{
  outline: none;
}
#input{
  /* position: absolute;
  top: 20%;
  left: 30%; */
  /* border: none;
  height: 2.6rem;
  width: 9.2rem;
  font-family: sans-serif;
  border-radius: Helvetica;
  background-color: rgb(23, 23, 23);
  color: white;
}

#input:focus {
  outline:none !important;
}
#header{
  align-self: center;
  font-size: 1.3rem;
  font-family:Verdana;
  letter-spacing: 2px;
  color: #f2a900;
}

#container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  position: fixed;
  top: 20vh;
  left: 60vw;
  background-color: white;
  border: 1px solid #323232;
  border-radius: 4px;
  color: white;
  height: 17vh;
  width: 25vw;
  background-color: #4d4d4e;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#divBox2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 3vh;
}

#divBox1 {
  background-color: rgb(17, 17, 17) !important;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 1px solid rgb(66, 65, 65);
  cursor: move;
  height: 5vh;
}

#exit {
  position: absolute;
  right: 0;
  background-color: #f2a900;
  border-radius: 4px;
  color: black;
  height: 2vh;
  width: 2vw;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}
 */ 
